// Page Heading
.page-heading {
    padding: 1em 0;
    background-color: $white-rgba-05;
    .content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 5px;
        h1 {
            margin-bottom: 0;
            text-align: center;
            font-size: 1.5em;

            // Max 767px
            @media (max-width: $break-767) {
                font-size: 1em;
            }
        }
        .btn-link {
            padding: 6px 14px;

            // Max 767px
            @media (max-width: $break-767) {
                font-size: $fz-12;
                padding: 4px 8px;
                gap: 5px;
            }
        }
    }
}

// Heading One
.heading-one {
    display: flex;
    flex-direction: column;
    gap: 1em;
    h1 {
        font-size: 1.75em;
        font-weight: 600;
        margin-bottom: 0;

        // Max 767px
        @media (max-width: $break-767) {
            font-size: 1.5em;
        }
        small,
        .small {
            font-size: 65%;
        }
    }
    p {
        margin-bottom: 0;
    }
    ul {
        margin-bottom: 0;
    }
}

// Heading Two
.heading-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    h3 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 0;
    }
}

// Heading Three
.heading-three {
    background-color: $black-rgba-4;
    padding: 0.8em 1em;
    border-radius: 6px;

    // Max 767px
    @media (max-width: $break-767) {
    }
    h2 {
        margin-bottom: 0;
        font-size: 1.5em;
    }
}
